<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      /* border design and background */
      table, td {
        Border: 1px solid black;
        background-color: aliceblue;
      }
      th{
        background-color: deepskyblue;
        Border: 1px solid black;
      }
      /* center */
      .center{
        margin: auto;
        width: 50%;
        padding: 10px;
      }
      /* font */
      .font{
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>


<!-- header -->
<body class="font">
  <title>State Population</title>
  <div style="margin-top: 50px;" class="container">
    <h1 class="ui center aligned header">State Population Estimate 2023</h1>
    <div class="center">This site contains a list of the population in each state. <br>To search for all states with a population greater than a specified number, enter the number below, and the results will rank in order.</div>

<div class="center">
<!-- search box and button -->
      <form class="ui form" action="/go" method="post">
          <div class="field">
              <label>Enter a number:</label>
              <input type="number" name="num" placeholder="Enter Number...">
              <button class="ui blue button" type="submit">Go</button> <br>
          </div>
      </form>
</div>
<br></br>

<!-- table -->
<div class="center"> 
<table id="table">
  <tr>
    <th>Rank</th>
    <th>State</th>
    <th>FIPS Code</th>
    <th>Population</th>
  </tr>
  <!-- opening page -->
  {% for u in usr %}
  <tr>
    <td>{{ u[0] }}</td>
    <td>{{ u[1] }}</td>
    <td>{{ u[2] }}</td>
    <td>{{ u[3] }}</td>
  </tr>
{% endfor %}

<!-- table when user searches -->
{% for u in rslt %}
  <tr>
    <td>{{ u[0] }}</td>
    <td>{{ u[1] }}</td>
    <td>{{ u[2] }}</td>
    <td>{{ u[3] }}</td>
  </tr>
{% endfor %}
</table>
</div>
</body>

</html>

